{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "jrt37@students.waikato.ac.nz",
      "Space": "Production"
    },
    "Name": "devops-insights-20190424030110029",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}